*{
    margin: 0;
    padding: 0;
}
.tiles{
    width: 100%;
    height: 100%;
    border-radius: 50px;
    border: none;
    margin: 10px;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#app{
    margin-top: 0px;
    width: 100vw;
    height: 100vh;
    background: black;
    overflow: hidden;
    display: flex;
    flex-flow: row wrap;
    justify-content:center;
}

#top{
  margin-top: 0px;
  width: 100%;
  height: 33%;
  display: flex;
  justify-content: space-evenly;
}
#left{
  width: 25%;
  height: 33%;
  display: flex;
}

#left > div {
  width: 100%;
  height: 100%;
}

#right{
  width: 25%;
  height: 33%;
  display: flex;
}

#right > div {
  width: 100%;
  height: 100%;
}

#bottom{
  width: 100%;
  height: 33%;
  display: flex;
  justify-content: space-evenly;
}

#bestGf{
  color: white;
  width: 50%;
  height: 33%;
  font-family: 'Lovers Quarrel', cursive;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
#bestGf > h1 {
  text-align: center;
  width: 100%;
  font-size: 16em;
  margin-bottom: -200px;
}

#bestGf > h2{
  text-align: center;
  width: 100%;
  font-size: 5em;
}

#heart1{
  position: absolute;
  margin-left: 400px;
  margin-top: 350px;
  animation:pulse 1s infinite;
}

#heart2nd {
  position: relative; 
  width: 100%; 
  height: 100%;
} 

#heart2nd:before, #heart2nd:after { 
  position: absolute; 
  content: ""; 
  left: 50px; 
  top: 0; 
  width: 50px; 
  height: 80px; 
  background: #aa0000; 
  border-radius: 50px 50px 0 0; 
  transform: rotate(-45deg);  
  transform-origin: 0 100%;
  animation:pulsecolor 1s infinite;
} 

#heart2nd:after { 
  left: 0; 
  transform: rotate(45deg); 
  transform-origin :100% 100%;
  animation:pulsecolor 1s infinite;
}

@keyframes pulse {
	10% {transform: scale(1.1)}
}

@keyframes pulsecolor {
  10% {background: #dd0000}
}

.fadeOut{
    animation: fadeOut ease 10s;
    -webkit-animation: fadeOut ease 10s;
    -moz-animation: fadeOut ease 10s;
    -o-animation:  fadeOut ease 10s;
    -ms-animation: fadeOut ease 10s;
}

@keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
  }
  
  @-moz-keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
  }
  
  @-webkit-keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
  }
  
  @-o-keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
  }
  
  @-ms-keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
}

.fadeIn {
    animation: fadeIn ease 10s;
    -webkit-animation: fadeIn ease 10s;
    -moz-animation: fadeIn ease 10s;
    -o-animation: fadeIn ease 10s;
    -ms-animation: fadeIn ease 10s;
  }@keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-moz-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-o-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-ms-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
  }
}



.x1 {
    left: 5%;
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
      transform: scale(0.9);
      opacity: 0.6;
      -webkit-animation: moveclouds 15s linear infinite, sideWays 4s ease-in-out infinite alternate;
      -moz-animation: moveclouds 15s linear infinite, sideWays 4s ease-in-out infinite alternate;
  }
  
  .x1-5{
    left: 10%;
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
      transform: scale(0.9);
      opacity: 0.6;
      -webkit-animation: moveclouds 10s linear infinite, sideWays 4s ease-in-out infinite alternate;
      -moz-animation: moveclouds 10s linear infinite, sideWays 4s ease-in-out infinite alternate;
  }

  .x2 {
      left: 25%;
      -webkit-transform: scale(0.6);
      -moz-transform: scale(0.6);
      transform: scale(0.6);
      opacity: 0.9;
      -webkit-animation: moveclouds 25s linear infinite, sideWays 5s ease-in-out infinite alternate;
      -moz-animation: moveclouds 25s linear infinite, sideWays 5s ease-in-out infinite alternate;
  }
  .x2-5 {
    left: 30%;
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 0.9;
    -webkit-animation: moveclouds 28s linear infinite, sideWays 5s ease-in-out infinite alternate;
    -moz-animation: moveclouds 28s linear infinite, sideWays 5s ease-in-out infinite alternate;
}
  .x3 {
      left: 55%;
      -webkit-transform: scale(0.8);
      -moz-transform: scale(0.8);
      transform: scale(0.8);
      opacity: 0.8;
      -webkit-animation: moveclouds 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
      -moz-animation: moveclouds 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
  }
  .x4 {
      left: 72%;
      -webkit-transform: scale(0.75);
      -moz-transform: scale(0.75);
      transform: scale(0.75);
      opacity: 0.9;
      -webkit-animation: moveclouds 18s linear infinite, sideWays 2s ease-in-out infinite alternate;
      -moz-animation: moveclouds 18s linear infinite, sideWays 0zs ease-in-out infinite alternate;
  }
  .x4-5 {
    left: 84%;
    -webkit-transform: scale(0.75);
    -moz-transform: scale(0.75);
    transform: scale(0.75);
    opacity: 0.9;
    -webkit-animation: moveclouds 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
    -moz-animation: moveclouds 21s linear infinite, sideWays 0zs ease-in-out infinite alternate;
}
  .x5 {
      left: 88%;
      -webkit-transform: scale(0.8);
      -moz-transform: scale(0.8);
      transform: scale(0.8);
      opacity: 0.3; 
      -webkit-animation: moveclouds 7s linear infinite, sideWays 1s ease-in-out infinite alternate;
      -moz-animation: moveclouds 7s linear infinite, sideWays 1s ease-in-out infinite alternate;
  }
  .x5 {
    left: 78%;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.3; 
    -webkit-animation: moveclouds 14s linear infinite, sideWays 1s ease-in-out infinite alternate;
    -moz-animation: moveclouds 14s linear infinite, sideWays 1s ease-in-out infinite alternate;
}
  .x6 {
      left: 33%;
      opacity: 1; 
      -webkit-animation: moveclouds 2s linear infinite, swayWays 1s ease-in-out infinite alternate;
      animation: moveclouds 10s linear infinite, swayWays 9s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes moveclouds { 
      0% { 
          top: 100vh;
      }
      100% { 
          top: -100vh;
      }
  }
  
  @keyframes moveclouds {     
      0% { 
          top: 100vh;
      }
      100% { 
          top: -100vh;
      }
  }
    
  @-keyframes swayWays {
    0% {
      transform: rotate(12deg);
      left:-0.3%;
    }
    33%{
      transform: rotate(-2deg);
      left: 0.7%;
    }
    100% {
      transform: rotate(0deg);
      left:-12%;
    }
  }
    
  
  /* //  HEART CODE */
  .altheart {
    background: url(
  http://static.indigoimages.ca/2016/shop/113439_img25_twotoneheart.png) no-repeat center;
    width: 24px;
    height: 21px;
    position: relative;
    display: block;
  }
  
  .heart {
      position: relative;
  }
  .heart:before,
  .heart:after {
      position: absolute;
      content: "";
      left: 18px;
      top: 0;
      width: 18px;
      height: 30px;
      background: #CC2022;
      -moz-border-radius: 20px 50% 0 0;
      border-radius: 30px 30px 0 0;
      -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
              transform: rotate(-45deg);
      -webkit-transform-origin: 0 100%;
          -ms-transform-origin: 0 100%;
              transform-origin: 0 100%;
  }
  .heart:after {
      left: 0;
      -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg);
      -webkit-transform-origin: 100% 100%;
          -ms-transform-origin: 100% 100%;
              transform-origin :100% 100%;
  }